.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-layout {
  display: flex;
  gap: 24px;
}

.user-card,
.user-card-square {
  border: 1px solid red;
  padding: 24px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-card p {
  line-height: 20px;
}

.user-card-square {
  align-items: flex-start;
}

.user-card-square img {
  width: 200px;
  height: 100px;
}

.loading-animation {
  background-color: #a7a3a3;
  animation: loading-animation-keyframes 1.5s infinite;
}

.loading-animation-gradient {
  background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
  background-size: 400% 400%;
  animation: loading-animation-gradient-keyframes 1.5s infinite;
}

@keyframes loading-animation-keyframes {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes loading-animation-gradient-keyframes {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
